.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  font-family: sans-serif;
}
.container h1 {
  margin-bottom: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
}

/* CARD */
.card {
  cursor: pointer;
  background: #f6f6f6;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.imageWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover .image {
  transform: scale(1.2);
}
.image {
  object-fit: cover;
  transition: 0.5s;
}
.info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}
.title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
}

.price {
  font-size: 14px;
  font-weight: 600;
}
