.changePassword {
  flex: 1;

  font-family: Arial, sans-serif;
  color: var(--kds-color--color);
}

.backBtn {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  color: var(--kds-color--color);
  font-weight: bold;
}
.backBtn:hover {
  color: var(--kds-color--color-active);
}
.title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--kds-color--color-active);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border: none;
  outline: none;
}
.formGroup label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--kds-color--color);
}
.inputBox {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #eee;
  justify-content: space-between;
  padding-right: 10px;
  border-radius: 7px;
}

.inputBox input {
  width: 100%;
  padding: 13px 10px;
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--kds-color--color);
  background-color: #eee;
  border-radius: 10px;
}

.btnUpdate {
  padding: 15px 32px;
  background-color: var(--kds-color--button-bg);
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}

.btnUpdate.active {
  opacity: 1;
}
.formActions {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.btnCancel {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: var(--kds-color--color);
}
