.formContainer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}
.formTitle {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.stepRegister {
  font-size: 13px;
  color: var(--kds-color--color);
}

.formTitle h2 {
  font-size: 35px;
}
.formGroup {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}
.formGroup label {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  color: var(--kds-color--color);
  font-weight: 550;
}

.formGroup input {
  width: 100%;
  padding: 13px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #eee;
}
.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding-right: 10px;
}
.inputBox button {
  border: none;
  outline: none;
  background: transparent;
}
.btn {
  padding: 13px 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 550;
  width: 100%;
  cursor: pointer;
}
.nextBtnStep {
  color: white;
  background-color: var(--kds-color--button-bg);
  pointer-events: none;
  border: none;
  border-radius: 4px;
  opacity: 0.5;
}
.stepTwoNextBtn.active {
  opacity: 1;
  pointer-events: auto;

  cursor: pointer;
}
.error {
  color: rgb(182, 48, 48);
  font-size: 0.85rem;
  margin-top: 10px;
}

.error li {
  margin-left: 16px;
}
.errorList {
  color: rgb(182, 48, 48);
  font-size: 0.9rem;
  margin-top: 10px;
  padding-left: 0; /* để list-indent đẹp */
}
.errorList ul {
  padding-left: 18px;
}
.errorList li {
  margin-bottom: 5px;
}
.errorList p {
  text-align: left;
  margin-bottom: 5px;
  color: rgb(182, 48, 48);
}
.stepTwoNextBtn {
  margin-top: 20px;
}
