.accountContainer {
  display: flex;
  min-height: calc(100vh -60px);
  font-family: Arial, sans-serif;
  padding: 60px 50px;
  gap: 20px;
  background: #fff;
  flex-direction: row;
}

/* slidebar-control */
.sidebarControl {
  flex: 0 0 400px;
  padding: 0;
}

.sidebarControl h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.sidebarControl ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebarItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 15px;
  color: var(--kds-color--color);
  text-decoration: none;
}

.sidebarItem:hover {
  color: var(--kds-color--color-active);
}

/* Main Content */
.mainContent {
  flex: 1;
  max-width: 700px;
}

.mainContent h1 {
  font-size: 32px;
  margin-bottom: 8px;
}
.mainContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 30px;
}
.basicInfo {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: fit-content;
  height: fit-content;
  padding: 0;
  font-size: 13px;
  border: none;
  outline: none;
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  color: var(--kds-color--color);
  align-self: flex-start;
}
.basicInfoEditBt:hover {
  color: var(--kds-color--color-active);
}
.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.infoBlockTitle {
  font-size: 23px;
}
.editInfoRow {
  display: flex;
  justify-content: space-between;
}
.infoRow {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-size: 14px;
}

.label {
  width: 180px;
  color: var(--kds-color--color);
}

.value {
  font-weight: bold;
  color: var(--kds-color--color-active);
}

@media (max-width: 1200px) {
  .accountContainer {
    display: flex;

    gap: 20px;

    flex-direction: column;
  }
  .sidebarControl {
    flex: 0 0 100px;
    padding: 0;
  }
  .mainContent h1 {
    display: none;
  }
  .mobileHeaderContent {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  .mobileIcon {
    background: #eee;
    border-radius: 50%;
    padding: 5px;
  }
  .mobileLabel {
    font-weight: 550;
    font-size: 20px;
  }
  .mobileArrowDown {
    font-size: 25px;
  }
  .mobileHeader {
    background: transparent;
    border: none;
    outline: none;
  }
}
