.formContainer {
  max-width: 800px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  color: #000;
}
.formTitle h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}
.formRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cột bằng nhau */
  gap: 20px;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: var(--kds-color--color);
  font-size: 15px;
}
.formGroup label {
  margin-bottom: 5px;
}
.formGroup input {
  background: var(--kds-color--bg-active);
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 12px;
}
.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: var(--kds-color--color);
  font-size: 15px;
}
.formField label {
  margin-bottom: 5px;
}
.searchInput {
  width: 100%;
  border: none;
  background: var(--kds-color--bg-active);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}
.searchInput input {
  border: none;
  outline: none;
  padding: 12px;
  width: 100%;
  background: transparent;
  color: var(--kds-color--color);
  font-size: 15px;
}
.searchInput button {
  border: none;
  outline: none;
  color: var(--kds-color--color);
}
.searchInput button {
  border: none;
  outline: none;
  font-size: 25px;
  background: transparent;
  cursor: pointer;
  margin-right: 5px;
}
.searchInput + ul {
  list-style: none;
  background: none;
  padding: 0;
  border-radius: 6px;
}
.searchInput + ul li {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid var(--kds-color--grey45);
}
.searchInput + ul li:last-child {
  border-bottom: none;
}
.searchInput + ul li:hover {
  background: var(--kds-color--bg-active);
}
.noteInput {
  background: var(--kds-color--bg-active);
  border-radius: 6px;
  border: none;
  outline: none;
}
.formActions {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btnUpdate {
  padding: 15px 32px;
  background-color: var(--kds-color--button-bg);
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}

.btnUpdate.active {
  opacity: 1;
}
.formActions {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.btnCancel {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: var(--kds-color--color);
}
.addressDetailField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: var(--kds-color--color);
  font-size: 15px;
}

.addressDetailField input {
  background: var(--kds-color--bg-active);
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 12px;
}
.addressDetailField label {
  margin-bottom: 5px;
}
