.featureDetail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);

  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carouselViewport {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.panelList {
  display: flex;
  transition: transform 0.5s ease-in-out;
  flex-wrap: nowrap;
}

/* CSS cho mỗi panel riêng lẻ */
.carouselPanel {
  position: relative;
  width: 880px;
  height: 550px;
  margin: 0 30px;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  filter: brightness(0.5);
  box-shadow: 5px 5px 5px rgb(114, 113, 113), 0 5px 5px rgb(114, 113, 113);
}
.carouselPanel.active {
  filter: none;
}
/* Container cho hình và chữ trong mỗi panel */
.featureHighlight {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.featureAssetContainer {
  width: 550px;
  height: 100%;
  flex-shrink: 0;
}
.featureAssetContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featureCopyContainer {
  width: 330px;
  height: 100%;
  background: white;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
}
.featureTitle {
  position: absolute;
  top: 15px;
  right: 15px;
}
/* Nút điều khiển */
/* .control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  height: 65px;
  width: 65px;
  border-radius: 7px;
  background: hsla(0, 0%, 100%, 0.25);
  z-index: 2000;
  cursor: pointer;
  transition: background 0.3s ease;
  transition: transform 0.3s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
} */
/* .control:hover {
  background: hsla(0, 0%, 100%, 0.4);
} */

/* .prevBtn {
  left: 20px; 
  transform: translateX(-15px) translateY(-50%);
}
.nextBtn {
  right: 20px; 
  transform: translateX(15px) translateY(-50%);
} */

/* .carouselPanel:hover .control {
  opacity: 1;
  pointer-events: auto;
  background: hsla(0, 0%, 100%, 0.4);
  transform: translateX(0) translateY(-50%);
} */
/* .carouselPanel:hover .nextBtn {
  opacity: 1;
  pointer-events: auto;
  background: hsla(0, 0%, 100%, 0.4);
  transform: translateX(0) translateY(-50%);
} */
.featureDescription {
  font-size: 20px;
  padding: 150px 30px;
}
.closeBtn {
  position: absolute;
  top: 30px;
  right: 15px;
  background: var(--kds-color--grey70);
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 25px;
  color: var(--kds-color--color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.closeBtn:hover {
  background: var(--kds-color--grey65);
  color: var(--kds-color--color-active);
}
.carouselModalTabList {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  z-index: 10;
}
.kdsTabList {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}
.dot.active {
  background-color: #ccc;
}

.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* color: white; */
  font-size: 20px;
  border: none;
  outline: none;
  height: 65px;
  width: 65px;
  border-radius: 7px;
  /* background: hsla(0, 0%, 100%, 0.25); */
  z-index: 10000;
  cursor: pointer;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.3s ease, background 0.3s ease;
}
.control:hover {
  background: rgb(209, 208, 208);
  color: rgb(80, 78, 78);

  opacity: 1;
  pointer-events: auto;
  color: white;
}
.prevBtn {
  right: 100px;
  /* transform: translateX(650px) translateY(-50%); */
}

.nextBtn {
  left: 100px;
  /* transform: translateX(-650px) translateY(-50%); */
}
/* Khi component thêm class showControls (bằng hover state trong React) */
.showControls {
  opacity: 1 !important;
  pointer-events: auto !important;
  /* transform: translateY(-50%) translateX(0) !important; */
  /* background: rgba(255, 255, 255, 0.4); */
  background: hsla(0, 0%, 42%, 0.25);

  z-index: 99999 !important;
}

/* Fix cho nút control khi hover */
/* .control.showControls {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.control.showControls.nextBtn {
  transform: translateY(-50%) translateX(0) !important;
}

.control.showControls.prevBtn {
  transform: translateY(-50%) translateX(0) !important;
} */

/*mobile*/
