/* Main Content */
.purchasedProductDetail {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 50px;
  gap: 50px;
}

.orderDetail h1 {
  font-size: 32px;
  margin-bottom: 8px;
}
.mainContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.subtitle {
  color: #666;
  font-size: 14px;
}
.basicInfo {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: fit-content;
  height: fit-content;
  padding: 0;
  font-size: 13px;
  border: none;
  outline: none;
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  color: var(--kds-color--color);
  align-self: flex-start;
}
.basicInfoEditBt:hover {
  color: var(--kds-color--color-active);
}
.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.infoBlock h2 {
  font-size: 23px;
  line-height: 1;
}
.editInfoRow {
  display: flex;
  justify-content: space-between;
}
.infoRow {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}

.label {
  width: 180px;
  color: var(--kds-color--color);
}

.value {
  font-weight: bold;
  color: var(--kds-color--color-active);
}
.warrantyBtn {
  color: var(--kds-color--color-active);
  font-weight: bold;
  font-size: 15px;
}
