.warrantyRequest {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 50px;
  padding-bottom: 50px;
  gap: 20px;
  max-width: 600px;
}

.title h2 {
  font-size: 24px;
  font-weight: bold;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.infoGroup {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.infoRow {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 15px;
}

.label {
  font-size: 15px;
  color: var(--kds-color--color);
}
.textareaAuto {
  width: 100%;
  min-height: 40px;
  resize: none; /* ẩn resize mặc định của browser */
  overflow: hidden; /* không hiện scroll */
  padding: 8px;
  font-size: 14px;
  line-height: 1.5;
}

.value {
  font-weight: bold;
  color: var(--kds-color--color-active);
}
.formActions {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.btnUpdate {
  padding: 10px 30px;
  background-color: var(--kds-color--button-bg);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.btnCancel {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
  color: var(--kds-color--color);
  font-weight: bold;
}
.backBtn {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  color: var(--kds-color--color);
  font-weight: bold;
}
.btnCancel:hover,
.backBtn:hover {
  color: var(--kds-color--color-active);
}
