.colorOption {
  display: flex;
  gap: 10px;
}
.colorOption button {
  margin-top: 10px;
  border: 1px solid var(--kds-color--grey45);
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}
.colorOption img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  object-position: center;
}
.colorOption button.active {
  border: 3px solid var(--kds-color--color-active);
}
.colorNotice {
  color: var(--kds-color--color);
  font-size: 15px;
  margin-top: 20px;
}
