@import "../orderform/orderForm.css";
@import "./totalDetail.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: sans-serif;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.product-container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 30px;
}
.product-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.product-image {
  flex: 1;
  /* width: 78%; */
  height: auto;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.image-wrapper {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  border-radius: 5px;
}
/* .image-wrapper img.fade-out {
  opacity: 0;
}
.image-wrapper img.fade-in {
  opacity: 1;
}
.image-wrapper img {
  opacity: 0; mặc định ẩn 
  transition: opacity 0.5s ease-in-out;
} */
.fade-img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-img.show {
  opacity: 1;
}

.fade-img.fade-out {
  opacity: 0;
}
.product-image::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.product-info {
  width: 400px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  gap: 30px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-right: 20px;
}
.product-info::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.feature-detail-btn {
  padding: 10px 20px;
  min-width: 200px;
  margin: 30px auto;
  border-radius: 7px;
  border: none;
  outline: none;
  font-weight: 550;
  color: var(--kds-color--color-active);
  cursor: pointer;
}

/* ---------- DƯỚI 768px ---------- */
@media (max-width: 900px) {
  .product-container {
    flex-direction: column;
    height: auto;
    overflow: auto;
  }

  .product-image {
    width: 100%;
    flex: none;
  }
  .image-wrapper {
    padding: 50px;
  }
  .product-info {
    width: 100%;
    margin-right: 0;
    padding: 20px;
    margin-top: 20px;
  }
}
